<html>
	<head>
		<title>Floodbot index</title>
		<script language="JavaScript">
		function toggle(source) {
			checkboxes = document.getElementsByName('flood_checkbox');
			for(var i=0, n=checkboxes.length;i<n;i++) {
				checkboxes[i].checked = source.checked;
			}
		}
		</script>
	</head>
	<body>
		<h1>Floodbots from the last 3 days.</h1>
		<form action="{% url 'records:uniqueusernames' %}" method="get">
		<table border='1'>
			<tr>
				<th><input type="checkbox" onClick="toggle(this)" /></th>
				<th>Timestamp (UTC)</th>
				<th>Room</th>
				<th>Users</th>
				<th>Messages</th>
				<th>All Messages Identical</th>
				<th>Message</th>
			</tr>
			{% for flood in latest_flood_list %}
				<tr>
					<td><input type="checkbox" name="flood_checkbox" id="flood_checkbox{{ forloop.counter }}" value="{{ flood.id }}" /></td>
					<td><a href="{% url 'records:flood' flood.id %}">{{ flood.timestamp|date }}</a></td>
					<td>{{ flood.room }}</td>
					<td>{{ flood.users.count }}</td>
					<td>{{ flood.messages.count }}</td>
					<td>{{ flood.ident_msg }}</td>
					<td>{{ flood.messages.all.0.body|escape }}</td>
			{% endfor %}
		</table>
		<input type="submit" value="Unique Usernames" />
		</form>
	</body>
</html>